body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.calculator {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
    width: 300px;
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
}
.credits {
    color: white;
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-weight: bold;
}
.display {
    width: 93%;
    height: 50px;
    background-color: #1c1c1c;
    color: white;
    text-align: right;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    background-color: #444;
    border: none;
    color: white;
    font-size: 20px;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

button:nth-child(17) {
    grid-column: span 2;
}

button:nth-child(19) {
    background-color: #f55d17;
    color: white;
}
button:nth-child(19):hover {
    background-color: #f17d48;
    color: white;
}